@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

.h1 {
  text-align: center;
  font-size: 60px;
position: relative;  
top: 100px;
color: rgb(255, 255, 255);
  font-weight: 800;
  font-family: 'Oxygen', sans-serif;}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

h3{
  text-align: center;
  font-size: 200px;
position: relative;  
margin-top: 70px;
color: rgb(255, 255, 255);
  font-weight: 800;
  font-family: 'Oxygen', sans-serif;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}
button{
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    flex-shrink: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
  .active {
    background-color: red;
  }
  
  
  @media (min-width: 768px) {
    .button-36 {
      padding: 0 2.6rem;
    }
  }

